lab-1/platforms/
lab-1/lib/
lab-2/start/platforms/
lab-2/start/lib/
lab-2/finish/platforms/
lab-2/finish/lib/
lab-3/start/platforms/
lab-3/start/lib/
lab-3/finish/platforms/
lab-3/finish/lib/
lab-1/node_modules
lab-2/start/node_modules
lab-2/finish/node_modules
lab-3/start/node_modules
lab-3/finish/node_modules